receivers:
  otlp:
    protocols:
      grpc:
      http:
  exporters:
    prometheus:
      endpoint: "0.0.0.0:9464"

    loki:
      endpoint: "http://loki:3100/loki/api/v1/push"

    tempo:
      endpoint: "tempo:4317"
      tls:
        insecure: true

service:
  pipeline:
    traces:
      receivers: [otlp]
      exporters: [tempo]
    metrics:
      receivers: [otlp]
      exporters: [prometheus]
    logs:
      receivers: [otlp]
      exporters: [loki]